header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
}

header h1 {
    font-size: 24px;
    margin: 0;
}

header p {
    font-size: 16px;
    margin: 0;
}

/* Form container styles */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

/* Form field styles */
textarea#sentence {
    width: 700px;
    height: 100px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    resize: vertical;
}

/* Predicted labels styles */
.predicted-labels {
margin-top: 20px;
margin-left: 300px;
margin-right: 400px;
}

.predicted-labels p {
    font-weight: bold;
}

.predicted-labels ul {
    list-style-type: none;
    padding: 0;
}

.predicted-labels li {
    display: inline;
}

.B-GASTRO {
    background-color: palegreen;
    color: black;
}

.B-OTHER {
    background-color: yellow;
    color: black;
}

.B-BIO {
    background-color: green;
    color: black;
}

.B-CHEM {
    background-color: yellowgreen;
    color: black;
}

.B-FOOD {
    background-color: goldenrod;
    color: black;
}

.B-HEMATO {
    background-color: orange;
    color: black;
}

.B-MED {
    background-color: orangered;
    color: black;
}

.B-NAME {
    background-color: olivedrab;
    color: black;
}

.B-ERR {
    background-color: red;
    color: black;
}

.O {
    background-color: gray;
    color: black;
}

/* Legend styles */
.legend {
    position: fixed;
    top: 100px;
    right: 20px;
    text-align: left;
}

.legend p {
    font-weight: bold;
    margin-bottom: 10px;
}

.legend ul {
    list-style-type: none;
    padding: 0;
}

.legend li {
    margin-bottom: 5px;
    padding: 10px;
}

.legend .B-GASTRO {
    background-color: red;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
}

.legend .B-OTHER {
    background-color: yellow;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
}

.legend .B-GASTRO {
    background-color: palegreen;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
}

.legend .B-BIO {
    background-color: green;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
}

.legend .B-CHEM {
    background-color: yellowgreen;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
}

.legend .B-FOOD {
    background-color: goldenrod;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
}

.legend .B-HEMATO {
    background-color: orange;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
}

.legend .B-MED {
    background-color: orangered;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
}

.legend .B-NAME {
    background-color: olivedrab;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
}

.legend .B-ERR {
    background-color: red;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
}

.legend .O {
    background-color: gray;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Form field styles */
input[type="submit"] {
    background-color: #80ACF0 ;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #4382e0;
}

input[type="file"] {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="file"]:hover {
    background-color: #d32f2f;
}

.custom-file-input {
    display: none;
}

label[for="file"] {
    background-color: lightcoral;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

label[for="file"]:hover{
    background-color: orangered;
}

button[type="submit"] {
    background-color: #80ACF0 ;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #4382e0;
}