<!doctype html>
<html>
<head>
    <title>Named Entity Recognition</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Named Entity Recognition</h1>
        <p>Enter a sentence to predict named entities</p>
    </header>
    
    <div class="form-container">
        <form action="/predict" method="post" enctype="multipart/form-data">
            <label for="sentence">Enter a sentence:</label>
            <br>
            <textarea id="sentence" name="sentence" placeholder="Enter your sentence here" oninput="this.style.height = ''; this.style.height = this.scrollHeight + 'px'"></textarea>
            <br><br>
            <input type="submit" name="submit_text" value="Predict from Text">
            <br><br>
            <label for="file">Upload a file:</label>
            <br>
            <input type="file" id="file" name="file" accept=".pdf">
            <br><br>
            <input type="submit" name="submit_file" value="Predict from File">
        </form>

        {% if error %}
        <div class="error">
            <p>{{ error }}</p>
        </div>
        {% endif %}
        
        {% if predicted_labels %}
        <div class="predicted-labels">
            <p>Predicted labels:</p>
            <ul>
                {% for i in word_list[0] %}
                <li><mark class="{{ word_list[1][loop.index-1] }}">{{ i }}</mark></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    
    <div class="legend">
        <p>Legend:</p>
        <ul>
            <li><span class="B-GASTRO">B-GASTRO</span>: Represents a gastro entity</li>
            <li><span class="B-BIO">B-BIO</span>: Represents another type of entity</li>
            <li><span class="B-CHEM">B-CHEM</span>: Represents another type of entity</li>
            <li><span class="B-FOOD">B-FOOD</span>: Represents another type of entity</li>
            <li><span class="B-HEMATO">B-HEMATO</span>: Represents another type of entity</li>
            <li><span class="B-MED">B-MED</span>: Represents another type of entity</li>
            <li><span class="B-NAME">B-NAME</span>: Represents another type of entity</li>
            <li><span class="B-OTHER">B-OTHER</span>: Represents another type of entity</li>
            <li><span class="O">O</span>: Represents other words without specific entity</li>
        </ul>
    </div>
</body>
</html>
