<!doctype html>
<html>
<head>
    <title>Process medical documents</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script>
        function changeColor() {
            var fileInput = document.getElementById("file");
            var fileName = fileInput.value.split("\\").pop(); // Extract the filename from the file path
            document.getElementById("fileLabel").style.background = '#4CAF50';
            document.getElementById("fileLabel").innerHTML = "File: " + fileName;
        }
        function checkText() {
            if (document.getElementById("sentence").value === "") {
                document.getElementById('button1').disabled = true;
            } else {
                document.getElementById('button1').disabled = false;
            }
        }
        function checkText2() {
            if (document.getElementById("file").files.length == 0 ) {
                document.getElementById('button2').disabled = true;
            } else {
                document.getElementById('button2').disabled = false;
            }
        }
    </script>
    
</head>
<body>
    <header>
        <h1>Medical Words Finder</h1>
        <p>Enter a sentence to predict named entities</p>
    </header>
    
    <div class="form-container">
        <form action="/predict" method="POST" enctype="multipart/form-data">
            <label for="sentence">Enter a sentence:</label>
            <br>
            <textarea id="sentence" name="sentence" placeholder="Enter your sentence here" oninput="this.style.height = ''; this.style.height = this.scrollHeight + 'px'"  onclick="document.getElementById('button1').disabled = false;"></textarea>
            <br><br>
            <input id="button1" type="submit" name="submit_text" value="Predict from Text" onclick="checkText()">
            <br><br>
            <label id="fileLabel" for="file">Upload a file:</label>
            <input type="file" id="file" name="file" accept=".pdf" class="custom-file-input" onchange="changeColor()" onclick="document.getElementById('button2').disabled = false;">
            </label>
            <span id="fileName"></span>
            <br><br>
            <input id="button2" type="submit" name="submit_file" value="Predict from File" onclick="checkText2()">
        </form>

        {% if error %}
        <div class="error">
            <p>{{ error }}</p>
        </div>
        {% endif %}
        
        {% if predicted_labels %}
        <div class="predicted-labels">
            <p>Predicted labels:</p>
            <ul>
                {% for i in word_list[0] %}
                <li><mark class="{{ word_list[1][loop.index-1] }}">{{ i }}</mark></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% if predictions_text %}
        <div class="download-predictions" style="margin-top: 25px;">
            <form action="{{ url_for('download_predictions') }}" method="POST">
                <input type="hidden" name="predictions_text" value="{{ predictions_text }}">
                <input type="hidden" name="predictions_filename" value="{{ predictions_filename }}">
                <button type="submit" class="button-download">Download Predictions</button>
            </form>
        </div>
        {% endif %}
    </div>
    
    <div class="legend">
        <p>Legend:</p>
        <ul>
            <li><span class="B-GASTRO">GASTRO</span>: Represents a gastro entity</li>
            <li><span class="B-BIO">BIO</span>: General Biology entity</li>
            <li><span class="B-CHEM">CHEM</span>: Represents a chemical entity</li>
            <li><span class="B-FOOD">FOOD</span>: Represents a Food related entity</li>
            <li><span class="B-HEMATO">HEMATO</span>: Hematology related term</li>
            <li><span class="B-MED">MED</span>: General medical term</li>
            <li><span class="B-NAME">NAME</span>: Medically related name</li>
            <li><span class="B-OTHER">OTHER</span>: A type of medical entity</li>
            <li><span class="O">O</span>: Non medical entity</li>
        </ul>
    </div>
</body>
</html>
